@import "../../app.scss";

.link-selection {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.individual-light {
  color: #000;

  &:hover {
    color: #777;
  }
}

.individual-dark {
  color: #fff;

  &:hover {
    color: #bbb;
  }
}
