@import "../../app.scss";
footer {
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;

    #footer-desc {
        font-size: 10px;
    }
}

.light {
    color: #444;
}

.dark {
    color: #fff;
}