* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  min-height: 100vh;
}

.light {
  background-color: #dadada;
  background-image: radial-gradient(
      at 0% 0%,
      rgb(138, 129, 184) 0,
      transparent 50%
    ),
    radial-gradient(at 100% 0%, rgb(85, 115, 214) 0, transparent 50%);
}

.dark {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 100% 0%, rgb(18, 25, 49) 0, transparent 50%);
}
